{% load static %}     <!-- Load static files such as CSS, images, etc. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ category_name }} Articles</title>    <!-- Page title dynamically set to the category name -->
  <link rel="stylesheet" type="text/css" href="{% static 'articles/css/styles.css' %}">   <!-- Link to the external CSS file for styling the page -->
</head>
<body>
    <header>
        <div class="container">
            <h1 class="title">DailyDose</h1>   <!-- Site title -->
          <nav class="nav-container">
            <ul class="nav-links">              <!-- Links to home page and specific category pages -->
              <li><a href="{% url 'home' %}">Home</a></li>  
              <li><a href="{% url 'category_articles' category_name='World' %}">World</a></li>
              <li><a href="{% url 'category_articles' category_name='Business' %}">Business</a></li>
              <li><a href="{% url 'category_articles' category_name='Science & Technology' %}">Science & Technology</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <!-- Main content section displaying articles for a specific category -->
    <main class="news-container">
        {% for article in articles %}   <!-- Loop through each article in the 'articles' list passed from the view -->
        <div class="news-card">         <!-- Display each article in a styled news card -->
            <h3 class="news-title">{{ article.title }}</h3>
            <p class="news-description">{{ article.description }}</p>
            <div class="news-footer">   <!-- Footer section displaying article source and a link to the full article -->
                <span class="news-source">Source: <strong>{{ article.source }}</strong></span>
                <a href="{{ article.link }}" class="btn">Full Article</a>
            </div>
        </div>
        {% endfor %}
    </main>

</body>
</html>
