name: Update PostgreSQL Database

on:
  schedule:
  # runs every 8 hours 00:00, 08:00, 16:00
    - cron: "0 */1 * * *"


  # Optionally, allow manual triggering
  workflow_dispatch:

jobs:
  update-database:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Step 3: Install Python dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt  # If you have a requirements file

      # Step 4: Run the database update script
      - name: Run update script
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          ADDITIONAL_HOSTS: localhost,127.0.0.1
          DATABASE_URL: ${{ secrets.DATABASE_URL }}  # PostgreSQL connection string from GitHub Secrets
        run: |
          if [ -z "$SECRET_KEY" ]; then
            export SECRET_KEY="github-actions-ephemeral-secret-key"
          fi
          python manage.py fetch
